@import url("https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap");
html,
body {
  margin: 0;
  height: auto;
}
form {
  margin: 0;
}
.button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: none;
  background: #821baf;
  color: #fff;
  border-radius: 0.25rem;
  transition: background 0.3s;
}
.delete-button {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  background-color: unset;
  border: none;
  cursor: pointer;
  .delete-button-icon {
    fill: #888;
  }
  &:hover {
    opacity: 1;
  }
}
.button-group {
  display: flex;
  margin: 1rem;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}
.a5-editor-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin: 20px;
  break-before: avoid;
}

.a5-page {
  position: relative;
  border: 1px solid #333;
  padding: 15mm;
  width: 148mm;
  min-height: 210mm;
  break-after: always;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(255, 255, 255, calc(1 - var(--opacity)));
  background-blend-mode: lighten;
}

.a5-page textarea {
  border: none;
  resize: none;
  overflow: hidden;
  font-family: var(--font-family), "Zen Kurenaido", sans-serif;
  font-size: 1rem;
  color: var(--font-color);
  letter-spacing: var(--letter-spacing);
  line-height: 10mm;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  outline: none;
  background: repeating-linear-gradient(
    transparent,
    transparent 9.5mm,
    var(--line-color) 9.5mm,
    var(--line-color) 10mm
  );
}
input[type="file"]::file-selector-button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: none;
  background: #821baf;
  color: #fff;
  border-radius: 0.25rem;
  transition: background 0.3s;
}

.menu-button {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.side-menu {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background-color: #f4f4f4;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease-in-out;
}

.side-menu.open {
  right: 0;
}

.side-menu h2 {
  padding: 20px;
  margin: 0;
  background-color: #007bff;
  color: white;
}

.side-menu input {
  width: 150px;
  box-sizing: border-box;
}

@media print {
  @page {
    size: A5 portrait;
    margin: 0mm;
  }

  button,
  input[type="file"] {
    display: none;
  }
  .button-group {
    display: none;
  }
  .side-menu-component {
    display: none;
  }
  .a5-editor-container {
    padding: 0;
    margin: 0;
    gap: 0;
  }
  .a5-page {
    border: none;
    &:not(:last-child) {
      break-after: always;
    }
  }
}
